.container {
	padding: 60px !important;
}

.card {
	position: relative;
}
.imgContainer {
	display: flex !important;
	flex-direction: row !important;
	justify-content: center !important;
	background-color: transparent !important;
}
.infoContainer {
	display: flex !important;
	flex-direction: row !important;
	justify-content: center !important;
	margin-left: auto !important;
}

.spinnerContainer {
	display: flex !important;
	flex-direction: row !important;
	justify-content: center !important;
	margin-left: auto !important;
	margin-top: 500px !important;
}

.paginationContainer {
	margin-top: 50px !important;
	display: flex !important;
	flex-direction: row !important;
	justify-content: center !important;
	align-content: center !important;
}

.paginationBttns {
	width: 80%;
	height: 40px;
	list-style: none;
	display: flex;
	justify-content: center;
}

.paginationBttns a {
	background-color: black !important;
	padding: 10px;
	margin: 8px;
	border-radius: 5px;
	border: 1px solid black;
	color: white;
	cursor: pointer;
}

.paginationBttns a:hover {
	color: white;
	background-color: black;
}

.paginationActive a {
	color: white;
	background-color: black;
}

.paginationDisabled a {
	color: grey;
	background-color: white;
}

.filterContainer {
	padding: 20px !important;
	margin-bottom: -40px !important;
	/* height: 50px !important; */
}

.filterSubContainer {
	padding: 20px !important;
	/* height: 50px !important; */
}
.filterTitle {
	margin-right: 50px !important;
}
.filter {
	width: 250px !important;
	height: 40px !important;
	margin-right: 50px !important;
}
.filterReleased {
	width: 250px !important;
}

.notMatchContainder {
	background-color: #202124 !important;
	border-radius: 20px !important;
	width: 40% !important;
	height: 200px !important;
	-webkit-box-shadow: 5px 5px 15px 5px #000000;
	box-shadow: 5px 5px 15px 5px #000000;
	margin-top: 100px !important;
}
.notMatchTitle {
	color: white !important;
}
